{% extends "_base_page.html" %}

{% block page_title %}Create contributor account – Digital Marketplace{% endblock %}

{% block main_content %}

{% if not data %}

<header class="page-heading-smaller">
  <h1>Expired link</h1>
</header>
<p>
    The link you used to create an account may have expired.<br/>
    Check you’ve entered the correct link or ask the person who invited you to send a new invitation.<br/>
    If you still can’t create a contributor account, email <a href="mailto:{{ generic_contact_email }}">{{ generic_contact_email }}</a>.
</p>

{% elif not user.active %}

<header class="page-heading-smaller">
  <h1>Your account has been deactivated.</h1>
</header>
<p>
    Email <a href="mailto:{{ generic_contact_email }}">{{ generic_contact_email }}</a> to reactivate your account.
</p>

{% elif user.locked %}

<header class="page-heading-smaller">
  <h1>Your account has been locked.</h1>
</header>
<p>
    Email <a href="mailto:{{ generic_contact_email }}">{{ generic_contact_email }}</a> to unlock your account.
</p>

{% elif user %}

  {% if user.role == 'supplier' and data['supplierCode'] != user.supplier_code %}

  <header class="page-heading-smaller">
    <h1>{{ data['supplierName'] }} has invited you to join as a team member.</h1>
  </header>
  <p>You already have an existing account with {{ user.supplier_name }}.</p>
  <p>You can only use your existing account with one company.</p>
  <p>If you want to switch your account from {{ user.supplier_name }} to {{ data['supplierName'] }}, contact <a href="mailto:{{ generic_contact_email }}">{{ generic_contact_email }}</a>.</p>

  {% else %}

  <header class="page-heading-smaller">
    <h1>Account already exists</h1>
  </header>

  <p>
    <a href="/login">Sign in</a> to your account.
  </p>

  {% endif %}
{% endif %}
{% endblock %}
