<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
  <p>Dear Marketplace buyer,</p>
  
  <p>A seller asked a question about ‘{{ brief_name }}’.</p>
  
  <p>{{ supplier_name }} asked:<br />
    ‘{{ message }}’
  </p>

  <p>You are not obliged to answer questions submitted by sellers. But we recommend to advise sellers if you will not respond to the question.</p>

  <p>If you won't respond to this question, you may use this template:<br />
    ‘No response will be given. Please refer back to the published opportunity.’
  </p>

  <p>To answer the question:</p>
  <ol>
    <li>Go to the <a href="{{ answer_question_url }}">Answer a seller question page</a>.</li>
    <li>Follow instructions to publish the question and answer.</li>
  </ol>

  <p>If you have any questions or need guidance, please <a href="https://marketplace.service.gov.au/contact-us">contact the Marketplace</a>.</p>
  
  <p>Regards,<br />
    The Digital Marketplace team<br />
    Digital Transformation Agency<br />
    <a href="https://marketplace.service.gov.au">marketplace.service.gov.au</a> | <a href="https://dta.gov.au">dta.gov.au</a>
  </p>
</body>
</html>