<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
  <p>Dear Marketplace buyer,</p>
  
  <p>
    <b>{{supplier_name}}</b> asked a question about <a href="{{ frontend_address }}/digital-marketplace/opportunities/{{brief_id}}">{{brief_name}} ({{brief_id}})</a>:<br />
    ‘{{ message }}’
  </p>

  <p>
  You must <a href="{{ frontend_address }}{{ config['BASE_PREFIX'] }}/buyers/frameworks/{{ framework_slug }}/requirements/{{ lot_slug }}/{{ brief_id }}/supplier-questions">answer this question</a> before {{publish_by_date|dateformat}}.
  All published questions and answers are visible on the opportunity page.
  </p>

  <p>
    If you need guidance, please <a href="{{ frontend_address }}/contact-us">contact the Marketplace</a>.
  </p>

  <p>
    Regards,<br />
    The Digital Marketplace team<br />
    Digital Transformation Agency<br />
    <a href="{{ frontend_address }}">marketplace.service.gov.au</a> | <a href="https://dta.gov.au">dta.gov.au</a>
  </p>
</body>
</html>
