<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
  <p>Hi {{ supplier_name }} team,</p>

  <p>We've sent your question on <a href="{{ brief_url }}">{{ brief_name }}</a> to <strong>{{ buyer_organisation }}</strong>.</p>

  <P>You asked:<br />
    ‘{{ message }}’
  </p>

  <p><strong>{{ buyer_organisation }}</strong> has sole discretion to answer questions related to this opportunity.</p>

  <p>All published questions and answers can be viewed by sellers eligible to respond to the opportunity.</p>

  <p>To view questions and answers:</p>
  <ol>
    <li><a href="https://marketplace.service.gov.au/login">Log in</a> to the Marketplace.</li>
    <li>Go to the opportunity page: <a href="{{ brief_url }}">{{ brief_url }}</a></li>
    <li>Scroll down to ‘Seller questions’ section.</li>
  </ol>

  <p>We recommend to check the ‘Seller question’ section to help inform your response.</p>

  <p>If you have any questions or need guidance, please <a href="https://marketplace.service.gov.au/contact-us">contact the Marketplace</a>.</p>
  
  <p>Regards,<br />
    The Digital Marketplace team<br />
    Digital Transformation Agency<br />
    <a href="https://marketplace.service.gov.au">marketplace.service.gov.au</a> | <a href="https://dta.gov.au">dta.gov.au</a>
  </p>
</body>
</html>