<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Invitation to join {{ supplier }} as a team member</title>
</head>
<body>
	<p>Hello,</p>

	<p>{{ user }} has invited you to join {{ supplier }} as a team member on the Digital Marketplace.</p>

	<p>To accept, you must <a href="{{ url }}">register for a Digital Marketplace account</a> within 7 days.</p>

	<p>If you have any questions or need guidance, please <a href="mailto:{{generic_contact_email}}">contact the Marketplace</a>.</p>

	<p>
	Regards,<br />
	The Digital Marketplace team<br />
	Digital Transformation Agency<br />
	<a href="https://marketplace.service.gov.au">marketplace.service.gov.au</a> | <a href="https://www.dta.gov.au">dta.gov.au</a>
	</p>
</body>
</html>
