{% extends "_base_page.html" %}

{% block page_title %}You need to update your profile to apply – Digital Marketplace{% endblock %}

{% block main_content %}

    {% with inhibited_action="ask a question about" if clarification_question else "apply for" %}
        <div class="grid-row">
            <div class="column-two-thirds">

                <header class="page-heading-smaller">
                    <h1>You need to update your profile to apply</h1>
                </header>
                <p>
                  To apply for this opportunity you need to be a member of the Digital Marketplace Panel.
                </p><p>
                  As a current member of the Digital Service Professionals Panel you're pre-approved to join.
                </p><p>
                      All you need to do is complete you seller profile update and accept the new Master Agreement.
                      The Digital Marketplace team will then review your profile before adding your business to the Digital Marketplace Panel.
                </p>

                  {% if lot_name == 'digital-professionals' %}
                    <p>
                    Please note you will also need to be approved to offer {{ domain }} to apply for this opportunity as normal. <br/>
                    </p>
                  {% endif %}
                   <a href="/sellers/update">Update your seller profile now</a>
                </p>

            </div>
        </div>
    {% endwith %}

{% endblock %}
