{% block top_of_page %}{% endblock %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html class="js" lang="{{ html_lang|default('en') }}"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block page_title %}Marketplace - The place to do ICT business with government{% endblock %}</title>

  <link rel="shortcut icon" href="{{ asset_path }}images/favicon.png" type="image/x-icon" />

  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon" href="{{ asset_path }}images/apple-touch-icon.png">

  {% block head %}{% endblock %}

  <!-- Start of marketplace1 Zendesk Widget script -->
  <script>/*<![CDATA[*/if(window.location.hostname.indexOf('marketplace.service.gov.au')>-1){window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="marketplace1.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<'+'body onload="document._l();">'),o.close()}()};
  /*]]>*/</script>
  <!-- End of marketplace1 Zendesk Widget script -->
</head>

<body class="{% block body_classes %}{% endblock %} au-grid au-body">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  {% block body_start %}{% endblock %}

  <div class="skip-to">
    <a href="#content">Skip to main content</a>
    <a href="#main-navigation">Skip to section navigation</a>
  </div>

  <header role="banner" class="{% block header_class %}{% endblock %} au-grid au-body">

    <section class="phase-banner">
      <div class="wrapper">
        <p>
          This is a beta. For support please <a href="mailto:marketplace@digital.gov.au" onclick="zE.activate({hideOnClose: true});return false;">contact us</a>.
      </div>
    </section>
    <section>
      {% set dashboardText = 'Dashboard' %}
      {% if current_user.role == 'buyer' %}
        {% set dashboardUrl = config['BASE_PREFIX'] + '/sellers' %}
      {% elif current_user.role == 'applicant'  %}
        {% set dashboardText = 'Continue application' %}
        {% set dashboardUrl = '/sellers/application' %}
      {% else %}
        {% set dashboardUrl = '/sellers' %}
      {% endif %}
      {% set registerUrl = config['BASE_PREFIX'] + '/sellers/signup' %}
      {% set registerText = 'Join the Marketplace' %}
        {% set props = {
        'registerUrl': registerUrl,
        'registerText': registerText,
        'loginUrl': config['BASE_PREFIX'] + '/login',
        'dashboardUrl': dashboardUrl,
        'dashboardText': dashboardText,
        'logoutUrl': config['BASE_PREFIX'] + '/logout',
        'isAuthenticated': current_user.is_authenticated
        } %}
      {% set auth_component = render_component('bundles/Header/AuthWidget.js', props, True) %}
      {{ auth_component|as('react_bundle') }}
    </section>
  </header>

  {% block breadcrumb %}{% endblock %}

  <main class="{% block main_class %}{% endblock %}">
    {% block content_summary %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
  </main>

  {% block content_sub %}{% endblock %}

  <footer  class="au-footer footer au-body au-body--dark au-footer--dark">
    <div class="wrapper">
      {% block footer %}{% endblock %}
    </div>
  </footer>

  {{ auth_component|as('react_assets') }}
  {% block body_end %}{% endblock %}

  {% block uikit %}
  {% endblock %}

</body>
</html>
